*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home::before {
    content: "";
    top: 0;
    right: 0;
    background: url(/Assets/DSC03481.JPG) no-repeat center center/cover;
    height: 800px;
    opacity: 0.9;
    width: 100%;
    position: absolute;
    z-index: -1;

}
#home {
   display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    height:709px ;
    align-items: center;
}
.home-main {
    color:white;
    display: flex;
    position: absolute;
}
.introduction {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: green;
    text-align: center;
}


