*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
   
}

#home::before {
    content: "";
    top: 0;
    right: 0;
    background: url(DSC03481.JPG) no-repeat center center/cover;
    height: 650px;
    opacity: 0.9;
    width: 100%;
    position: absolute;
    z-index: -1;
}

#home {
   display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    height:709px ;
    align-items: center;
}

.home-main {
    color:white;
    display: flex;
    position: absolute;
}

.introduction {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.about-us {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer{
    padding: 40px;
}

h2 {
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(48, 124, 187);
    font-weight: bold;
}

h4 {
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(48, 124, 187);
}

.container {
    padding:20px;
    display: flex;
    flex-direction: column;
    flex-direction: column;
}

.smaller-container {
    display: block;
    padding: 30px;
}

#components-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: inherit;
    justify-items: center;
    margin-top: 30px;
}
#border-box {
    border: 1.5px solid rgb(48, 124, 187);
    padding: 5px;
    border-radius: 5px;
}
.label {
    color: white;
    padding: 5px;
}
.component-val {
    display: flex;
    justify-content: center;
}
#airQuality-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/* Responsive for smaller than 768px  */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-12"] {
      width: 100%;
    }
    .navbar-menu {
       display: block;
        width: 100%;
        
    }
    #home {
        display: block;
        width: 100%;
        height:300px
    }
    .home-main h1 {
        font-size: 30px;
        margin-top: 117px;
    }
  }